header {
  color: white;
  height: 36px;
  margin-bottom: 10px;

  li {
    margin: 0 2px;
  }

  a {
    cursor: pointer;
  }

  #home {
    cursor: pointer;
  }

  #logout {
    cursor: pointer;
  }
}
